doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    title Spyout

    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css', crossorigin='anonymous')

    // Lato Font
    link(href='https://fonts.googleapis.com/css?family=Lato:100', rel='stylesheet')
    // Font Awesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    // Spyout CSS
    link(href='/css/main.css', rel='stylesheet')
      
  body
    block content
    #root

    // React JS Block
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js')
      
    // Bootstrap 4 JS Block
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js', crossorigin='anonymous')

    // Socket IO
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
      
    block js
