extends layout

block content
  #root
    #spyout.main-content
      .text-xs-center
        p.so-h1 SPYOUT
        hr
        br
        .so-h2
          b Games like Spyout:
        br
        div
           a(href="http://spyfall.crabhat.com/" target="_blank") Spyfall 
           |by Evan Brumley
         div
           a(href="http://drawphone.tannerkrewson.com/" target="_blank") Drawphone 
           |by Tanner Krewson
         div
           a(href="http://www.secrethitler.party/" target="_blank") Secret Hilter 
           |by Samuel Mak
         div
           a(href="https://jackboxgames.com/games/" target="_blank") The Jackbox Party Packs 
           |by Jackbox Games
        br
        a.btn.btn-secondary.sobutton(href="/") Back to Spyout
        footer
          hr
          |Spyout by Tanner Krewson
          br
          a(href='http://www.tannerkrewson.com/', target='_blank') www.tannerkrewson.com
