body {
  background-color: black !important;
	color: white;
  font-weight: 100;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


#title {
	font-size: 3.5rem;
	font-family: 'Lato', sans-serif;
}

.main-content {
  margin: 15% auto 0 auto;
  max-width: 500px;
}

#root {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.sobutton {
  background-color: black;
  color: white;
  font-weight: 100;
  margin: 1px;
}

.list-group-item {
  background-color: black;
  color: white;
}
