extends layout

block content
  #root
    #spyout.main-content
      .text-xs-center
        p.so-h1 SPYOUT
        hr
        br
      .spyout-screenshots
        div(align='center')
          img(src='http://i.imgur.com/QHHm5Ri.png', width='222')
          img(src='http://i.imgur.com/xEGpyR1.png', width='222')
          img(src='http://i.imgur.com/APJiF8d.png', width='222')
          img(src='http://i.imgur.com/XdtBG7h.png', width='222')
        br
        .text-xs-center
          a.btn.btn-secondary.sobutton(href="/") Back to Spyout
      footer
        hr
        |Spyout by Tanner Krewson
        br
        a(href='http://www.tannerkrewson.com/', target='_blank') www.tannerkrewson.com
